.Title {
  position: absolute;
  margin-left: 50%;
}

.Input {
  position: absolute;
  margin-left: 50%;
  transform: translate(-40px, 70px);
}

.Todo {
  position: absolute;
  margin-left: 50%;
  margin-top: 120px;
}
